body {
    background-color: #272727; 
    width:900px;
    max-width:900px; 
    margin: auto;
    font-family: monospace;
    font-size: 13px;
    line-height: 16px;

    color: #dddddd;

  }

header {
    text-align: center; 
    font-size: 13px;
    border-bottom-style: dotted;
    border-width: 2px;
    padding-bottom:12px;
  }
  
  a:link, a:visited {
    color: rgb(255, 255, 153);
    background-color: transparent;
  }

  a:hover, a:visited:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  h1 {
    text-align: center;
  }
  
.notes{
  color: rgb(180, 162, 142);
}

  p {
    color: #dddddd
  }

  pre {
    font-size: 9px; 
    text-align: center;
    margin-top: 15px;
    line-height: 9px;
  }

  footer {
    text-align: center; 
    margin-top: 20px;
    padding-top:8px;
    padding-bottom:8px;
  }


  .item1 { grid-area: graphic;}
  .item2 { 
    grid-area: description;
    border-left-style: dotted;
    width:575px;
    max-width:575px; 
    border-width: 2px;
    padding-left:10px; 
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'graphic description';
    grid-gap: 10px;
  }
  
  .grid-container > div {
    text-align: left;
    margin: 30px 0px 30px 0px;
  }


