body {
    background-color: #272727; 
    width:900px;
    max-width:900px; 
    margin: auto;
    font-family: monospace;
    font-size: 13px;
    color: #dddddd;
    padding: 5px;

  }
  
  a:link {
    color: limegreen;
    background-color: transparent;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: #dddddd
  }

  pre {
    font-size: 11px; 
  }
